div(layout="row", layout-fill, layout-align="center center")

    // content
    md-content.md-whiteframe-z3.selecao.home(
        layout="column",
        layout-align="center center",
        flex-xs="95",
        flex-sm="60",
        flex-md="40",
        flex-lg="35",
        flex-xl="30"
    )

        div.title
            img.logo(src="assets/images/logo.png" alt="Agrade logo")
            h1 Agrade
            span.version v{{version}}
        h5 Seu auxiliar de curso
        //span.version v1.0.0
        h3 Selecione sua universidade
        md-autocomplete(
            md-selected-item='universidade',
            md-search-text='searchUniversidade',
            md-items='item in getUniversidades( searchUniversidade )',
            md-item-text='item.name',
            placeholder="Em qual universidade você estuda?",
            md-min-length="0")
            md-item-template
                span(md-highlight-text='searchUniversidade') {{item.name}}
            md-not-found
                | Nenhum resultado encontrado

        h3 Selecione seu campus
        md-autocomplete(
            ng-disabled='!universidade',
            md-selected-item='campus',
            md-search-text='searchCampus',
            md-items='item in getCampus( searchCampus )',
            md-item-text='item.name',
            placeholder="Em qual campus você estuda?",
            md-min-length="0")
            md-item-template
                span(md-highlight-text='searchCampus') {{item.name}}
            md-not-found
                | Nenhum resultado encontrado

        h3 Selecione seu curso
        md-autocomplete(
            ng-disabled='!campus',
            md-selected-item='curso',
            md-search-text='searchCurso',
            md-items='item in getCursos( searchCurso )',
            md-item-text='item.name',
            placeholder="Qual curso você faz?",
            md-min-length="0")
            md-item-template
                span(md-highlight-text='searchCurso') {{item.name}}
            md-not-found
                | Nenhum resultado encontrado
        br
        md-button.md-raised.entrar(
            ng-disabled="!curso",
            ui-sref="grade"
            )
            ng-md-icon(icon='view_list')
            |  Entrar

